# My Notebook
This is a Jupyter Notebook for in progress work that I am doing that I have not extracted into the right places yet or made permanent in my repo.

In [13]:
# Imports
import pandas as pd

## Analysing DHS Data

In [14]:
# CONSTANTS

# Data file paths
DHS_2016_DATA = './01-reproduction/data/dhs-south-africa-2016.dta'
df_dhs = pd.read_stata(DHS_2016_DATA)
df_dhs.head()

,hhid,hv000,hv001,hv002,hv003,hv004,hv005,hv006,hv007,hv008,...,shmhba1c_15,shmhba1c_16,shmhba1c_17,shmhba1c_18,shmhba1c_19,shmhba1c_20,shmhba1c_21,shmhba1c_22,shmhba1c_23,shmhba1c_24
0,1 11,ZA7,1,11,1,1,1269316,8,2016,1400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 13,ZA7,1,13,2,1,1269316,8,2016,1400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 19,ZA7,1,19,1,1,1269316,8,2016,1400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 27,ZA7,1,27,1,1,1269316,10,2016,1402,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 28,ZA7,1,28,2,1,1269316,8,2016,1400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print(f'Household count DHS 2016 = {len(df_dhs)}')

Household count DHS 2016 = 11083

In [16]:
# Clusters
clusters = df_dhs.groupby(['hv001']).count()

print(f'Clusters DHS 2016 = {len(clusters)}')

Clusters DHS 2016 = 746

In [17]:
# Households per cluster
a = len(df_dhs)/len(clusters)

print(f'Households per cluster DHS 2016 = {a}')

Households per cluster DHS 2016 = 14.85656836461126

## Analysing GHS Data

In [18]:
# CONSTANTS

# Data file paths
GHS_2021_DATA = './02-extension/data/ghs-2021.dta'
GHS_2020_DATA = './02-extension/data/ghs-2020.dta'
GHS_2019_DATA = './02-extension/data/ghs-2019.dta'
GHS_2018_DATA = './02-extension/data/ghs-2018.dta'
GHS_2017_DATA = './02-extension/data/ghs-2017.dta'

In [19]:
df_2021 = pd.read_stata(GHS_2021_DATA)
df_2020 = pd.read_stata(GHS_2020_DATA, convert_categoricals=False)
df_2019 = pd.read_stata(GHS_2019_DATA, convert_categoricals=False)
df_2018 = pd.read_stata(GHS_2018_DATA, convert_categoricals=False)
df_2017 = pd.read_stata(GHS_2017_DATA, convert_categoricals=False)

In [20]:
df_2021.head()

,uqnr,personnr,psu,prov,head_popgrp,head_sex,head_age,hsg_maind,hsg_roof,hsg_walls,...,disab_hh,sevdisab_hh,totmhinc,econact_hh,stratum,geotype,metro,metro_code,rotation,house_wgt
0,160100090000003901,01,1.601001e+10,Western Cape,White,Male,78,Dwelling/house or brick/concrete block structu...,Corrugated iron/zinc,Bricks,...,1,1,Unspecified,1,10301,3,Non-metro,WC - Non-metro,Quarter 3,2180.634716
1,160100630000010801,01,1.601006e+10,Western Cape,Coloured,Female,28,Dwelling/house or brick/concrete block structu...,Corrugated iron/zinc,Cement block/concrete,...,0,0,6946,2,10106,1,Non-metro,WC - Non-metro,Quarter 3,4205.095932
2,160100630000018001,01,1.601006e+10,Western Cape,Coloured,Female,54,Dwelling/house or brick/concrete block structu...,Corrugated iron/zinc,Cement block/concrete,...,1,0,3720,0,10106,1,Non-metro,WC - Non-metro,Quarter 3,1556.247309
3,160100630000021601,01,1.601006e+10,Western Cape,White,Male,68,Dwelling/house or brick/concrete block structu...,Asbestos,Bricks,...,0,0,0,0,10106,1,Non-metro,WC - Non-metro,Quarter 3,1279.962017
4,160100920000004701,01,1.601009e+10,Western Cape,White,Male,52,Dwelling/house or brick/concrete block structu...,Asbestos,Bricks,...,0,0,Unspecified,2,10301,3,Non-metro,WC - Non-metro,Quarter 3,2247.748693

In [21]:
# Households
print(f'Household count 2021 = {len(df_2021)}')
print(f'Household count 2020 = {len(df_2020)}')
print(f'Household count 2019 = {len(df_2019)}')
print(f'Household count 2018 = {len(df_2018)}')
print(f'Household count 2017 = {len(df_2017)}')

Household count 2021 = 9629
Household count 2020 = 8896
Household count 2019 = 68986
Household count 2018 = 20908
Household count 2017 = 21225

In [22]:
# Households per province
households_per_province_2021 = df_2021.groupby(['prov'])['uqnr'].count()
households_per_province_2020 = df_2020.groupby(['prov'])['uqnr'].count()
households_per_province_2019 = df_2019.groupby(['prov'])['uqnr'].count()
households_per_province_2018 = df_2018.groupby(['prov'])['uqnr'].count()
households_per_province_2017 = df_2017.groupby(['prov'])['uqnr'].count()

print(f'Household per province 2021')
print(households_per_province_2021)
print('------------------------------------------')
print(f'Household per province 2020')
print(households_per_province_2020)
print('------------------------------------------')
print(f'Household per province 2019')
print(households_per_province_2019)
print('------------------------------------------')
print(f'Household per province 2018')
print(households_per_province_2018)
print('------------------------------------------')
print(f'Household per province 2017')
print(households_per_province_2017)

Household per province 2021
prov
Western Cape      812
Eastern Cape     1499
Northern Cape     405
Free State        540
KwaZulu-Natal    1831
North West        626
Gauteng          1799
Mpumalanga        839
Limpopo          1278
Name: uqnr, dtype: int64
------------------------------------------
Household per province 2020
prov
1     652
2    1190
3     381
4     519
5    1532
6     588
7    1974
8     790
9    1270
Name: uqnr, dtype: int64
------------------------------------------
Household per province 2019
prov
1     6051
2     9279
3     3156
4     4070
5    12462
6     4420
7    15455
8     5901
9     8192
Name: uqnr, dtype: int64
------------------------------------------
Household per province 2018
prov
1    2091
2    2775
3     925
4    1239
5    3337
6    1424
7    4996
8    1748
9    2373
Name: uqnr, dtype: int64
------------------------------------------
Household per province 2017
prov
1    2102
2    2837
3     921
4    1323
5    3379
6    1453
7    5089
8    1780
9    2341
Name: uqnr, dtype: int64

In [23]:
# Clusters
psu_2021 = df_2021.groupby(['psu'])
psu_2020 = df_2020.groupby(['psu'])
psu_2019 = df_2019.groupby(['psu'])
# psu_2018 = df_2018.groupby(['psu'])
# psu_2017 = df_2017.groupby(['psu'])

print(f'Clusters 2021 = {len(psu_2021)}')
print(f'Clusters 2020 = {len(psu_2020)}')
print(f'Clusters 2019 = {len(psu_2019)}')
# print(f'Clusters 2018 = {len(psu_2018)}')
# print(f'Clusters 2017 = {len(psu_2017)}')

Clusters 2021 = 2842
Clusters 2020 = 2831
Clusters 2019 = 3220

In [25]:
# Average households per cluster TODO: Return here
# Households per cluster
household_per_psu_2021 = len(df_2021)/len(psu_2021)
household_per_psu_2020 = len(df_2020)/len(psu_2020)
household_per_psu_2019 = len(df_2019)/len(psu_2019)
# household_per_psu_2018 = df_2018.groupby(['psu'])
# household_per_psu_2017 = df_2017.groupby(['psu'])

print(f'Clusters 2021 = {household_per_psu_2021}')
print(f'Clusters 2020 = {household_per_psu_2020}')
print(f'Clusters 2019 = {household_per_psu_2019}')
# print(f'Clusters 2018 = {len(household_per_psu_2018)}')
# print(f'Clusters 2017 = {len(household_per_psu_2017)}')

Clusters 2021 = 3.388106966924701
Clusters 2020 = 3.142352525609325
Clusters 2019 = 21.42422360248447