In [1]:

scores = [{
    "loss": 5.109319686889648, 
    "mae": 5.106210708618164, 
    "mape":8.902265548706055, 
    "mse": 40.28390121459961, 
    "rmse": 6.346960067749023, 
    "r2": 0.09414759278297424
},
{
    "loss": 3.9968085289001465, 
    "mae": 3.9974477291107178, 
    "mape":6.740309238433838, 
    "mse": 27.876483917236328, 
    "rmse": 5.279818534851074, 
    "r2": 0.3292962908744812
},
{
    "loss": 5.315009117126465,
    "mae":5.3184638023376465, 
    "mape":8.461950302124023, 
    "mse": 42.236637115478516, 
    "rmse": 6.498971939086914, 
    "r2":-0.6053965091705322
},
{
    "loss": 5.949130535125732, 
    "mae": 5.944759845733643, 
    "mape": 11.070174217224121, 
    "mse": 58.918331146240234, 
    "rmse": 7.675827980041504, 
    "r2": 0.017880789935588837
},
{
    "loss": 5.298249244689941, 
    "mae":5.298097133636475, 
    "mape":9.24866771697998, 
    "mse": 45.4149169921875, 
    "rmse": 6.739058971405029, 
    "r2": 0.13022519648075104
}]

In [2]:
import pandas as pd

fold_scores_df = pd.DataFrame(scores)
fold_scores_df

       loss       mae       mape        mse      rmse        r2
0  5.109320  5.106211   8.902266  40.283901  6.346960  0.094148
1  3.996809  3.997448   6.740309  27.876484  5.279819  0.329296
2  5.315009  5.318464   8.461950  42.236637  6.498972 -0.605397
3  5.949131  5.944760  11.070174  58.918331  7.675828  0.017881
4  5.298249  5.298097   9.248668  45.414917  6.739059  0.130225

In [4]:
print(fold_scores_df)

print("----------------------------------------------------------")
print("Average scores for all folds:")
print("----------------------------------------------------------")
print(fold_scores_df.mean(axis=0))

       loss       mae       mape        mse      rmse        r2
0  5.109320  5.106211   8.902266  40.283901  6.346960  0.094148
1  3.996809  3.997448   6.740309  27.876484  5.279819  0.329296
2  5.315009  5.318464   8.461950  42.236637  6.498972 -0.605397
3  5.949131  5.944760  11.070174  58.918331  7.675828  0.017881
4  5.298249  5.298097   9.248668  45.414917  6.739059  0.130225
----------------------------------------------------------
Average scores for all folds:
----------------------------------------------------------
loss     5.133703
mae      5.132996
mape     8.884673
mse     42.946054
rmse     6.508127
r2      -0.006769
dtype: float64

In [5]:
print("----------------------------------------------------------")
print("Standard deviation scores for all folds:")
print("----------------------------------------------------------")
print(fold_scores_df.std(axis=0))

----------------------------------------------------------
Standard deviation scores for all folds:
----------------------------------------------------------
loss     0.710280
mae      0.709014
mape     1.556134
mse     11.134307
rmse     0.859019
r2       0.353855
dtype: float64

In [8]:
print("----------------------------------------------------------")
print("Best fold:")
print("----------------------------------------------------------")
loss_param = "loss"
loss = fold_scores_df[loss_param]
min_loss = loss.min()
print(f"Fold {min_loss}")
min_loss_idx = loss.idxmin() + 1
print(f"Fold {min_loss_idx}")

----------------------------------------------------------
Best fold:
----------------------------------------------------------
Fold 3.9968085289001465
Fold 2