# GCRO data
Trying to get min max dates in QOL data.

In [1]:
# Imports
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Data file paths
GCRO_2021 = '../data/surveys/gcro-2021.dta'
GCRO_2018 = '../data/surveys/gcro-2018.dta'
GCRO_2016 = '../data/surveys/gcro-2016.dta'
df_gcro_2021 = pd.read_stata(GCRO_2021, convert_categoricals=False)
df_gcro_2018 = pd.read_stata(GCRO_2018, convert_categoricals=False)
df_gcro_2016 = pd.read_stata(GCRO_2016, convert_categoricals=False)

In [3]:
df_gcro_2016.head()

,SbjNum,S2,S2_2,S3_1,S3_2,Date,Duration,WardNumber,Municipality,S7,...,Q12_13,Q12_14,Q12_15,Q12_16,Q12_17,Q12_18,HH_Weight,Design_wgt,Bench_wgt,Bench_wgt_30002
0,21757821,2,2,1,2,2015-07-17,74,79800033,1,1,...,1,1,1,0,1,1,118.200000,335.366667,295.114845,1.000562
1,21839101,1,1,1,1,2015-07-20,79,79800043,1,1,...,0,0,0,1,1,1,115.327869,309.147541,252.507961,0.856107
2,21841544,2,1,1,3,2015-07-20,1442,79700057,3,1,...,1,0,0,0,0,0,184.100000,399.783333,467.334037,1.584457
3,21841617,1,2,2,1,2015-07-20,81,79700057,3,1,...,0,0,0,0,0,0,184.100000,399.783333,467.334037,1.584457
4,21848907,3,1,0,1,2015-07-20,61,79700058,3,1,...,1,0,0,0,0,1,132.907216,304.927835,290.372075,0.984482

In [9]:
# 2016
print('Min: ', np.min(df_gcro_2016['Date']))
print('Max: ', np.max(df_gcro_2016['Date']))
mean2016 = np.array(df_gcro_2016['Date'], dtype='datetime64[s]').view('i8').mean().astype('datetime64[s]')
print('Mean: ',mean2016)

totalInterviews2016 = len(df_gcro_2016)
print('Interview Count: ', totalInterviews2016)

Min:  2015-07-17 00:00:00
Max:  2016-05-17 00:00:00
Mean:  2015-10-19T03:02:49
Interview Count:  30002

In [5]:
df_gcro_2018.head()

,resp_id,ward,munic,munic_recode,region,ea_code,sp_code,sp_name,mp_code,mp_name,...,RESDU_WGT,DOWNSCALE_ResDU_wgt,F1servic,F2soclas,F3govsat,F4lifsat,F5health,F6safety,F7partic,QoLIndex_Data_Driven
0,7391,74201002,Emfuleni,4,Sedibeng,76010738,760004018,Sebokeng Hostels,760004,Sebokeng,...,142.405405,0.875060,8.603019,6.561684,3.472711,2.500000,5.981129,2.480409,10.000000,58.634769
1,7392,74201017,Emfuleni,4,Sedibeng,76010859,760004018,Sebokeng Hostels,760004,Sebokeng,...,136.574468,0.839230,6.916862,1.769811,1.622653,2.921062,5.341294,0.000000,10.000000,40.361269
2,7417,74201017,Emfuleni,4,Sedibeng,76010859,760004018,Sebokeng Hostels,760004,Sebokeng,...,136.574468,0.839230,6.916862,2.154136,0.000000,6.249121,7.307976,5.097104,4.585840,45.534463
3,7418,74201017,Emfuleni,4,Sedibeng,76010859,760004018,Sebokeng Hostels,760004,Sebokeng,...,136.574468,0.839230,8.313842,0.768650,2.614437,4.045359,10.000000,6.303237,10.000000,57.659429
4,7421,79800037,City of Johannesburg,2,City of Johannesburg,79810806,798030045,Klipspruit,798030,Soweto,...,140.443038,0.863002,6.844567,1.152975,1.157570,7.597574,7.352204,4.715503,7.875983,49.460237

In [10]:
# 2018
print('Min: ', np.min(df_gcro_2018['date']))
print('Max: ', np.max(df_gcro_2018['date']))
mean2018 = np.array(df_gcro_2018['date'], dtype='datetime64[s]').view('i8').mean().astype('datetime64[s]')
print('Mean: ',mean2018)

totalInterviews2018 = len(df_gcro_2018)
print('Interview Count: ', totalInterviews2018)

Min:  2017-10-31 00:00:00
Max:  2018-09-07 00:00:00
Mean:  2018-04-10T11:52:44
Interview Count:  24889

In [7]:
df_gcro_2021.head()

,unique_id,interview_date,Date_month,District_municipality,municipality_coded,Planning_region,Planning_region_code,ward_code,ea_code,adult_count,...,F1servic,F2soclas,F3govsat,F4lifsat,F5health,F6safety,F7partic,QoLIndex_Data_Driven,HH_WEIGHT,DOWNSCALE_MUN_PP_BENCHWGT
0,0002c645-1eda-4740-a065-0f40a24c0eaa,2021-02-20,5,1,1,Ekurhuleni_A,EKU_A,79700036,79710758,4,...,10.000000,7.795356,6.465669,7.500000,7.350730,5.580920,10.000000,79.555756,516.784167,1.228062
1,0006144d-bc67-479e-8482-37bd84c42233,2021-01-15,4,5,7,Merafong City,GT484,74804018,76610311,3,...,10.000000,7.765167,4.024354,3.667370,10.000000,4.064736,6.709857,70.034147,71.698750,0.208980
2,00151a00-e290-4ed7-ad05-9159e200ba48,2020-11-20,2,2,2,Johannesburg_D,JHB_D,79800043,79813663,3,...,8.564746,2.962554,4.851819,3.181259,10.000000,3.795571,2.535863,55.429275,475.072713,1.529085
3,00166da5-86bd-4628-bb60-2c1d6a6e66bd,2020-11-10,2,5,8,Mogale City,GT481,74801012,76310192,1,...,10.000000,3.195065,3.559272,5.840366,10.000000,8.143101,2.535863,64.974098,104.777569,0.235093
4,001ae7eb-a39b-4268-9f63-0588fa71b6e9,2020-11-05,2,2,2,Johannesburg_D,JHB_D,79800037,79810807,1,...,0.000000,2.578229,2.244718,0.000000,6.025358,1.652470,2.535863,19.383139,798.882790,1.250373

In [11]:
# 2021
print('Min: ', np.min(df_gcro_2021['interview_date']))
print('Max: ', np.max(df_gcro_2021['interview_date']))
mean2021 = np.array(df_gcro_2021['interview_date'], dtype='datetime64[s]').view('i8').mean().astype('datetime64[s]')
print('Mean: ',mean2021)

totalInterviews2021 = len(df_gcro_2021)
print('Interview Count: ', totalInterviews2021)

Min:  2020-10-06 00:00:00
Max:  2021-05-27 00:00:00
Mean:  2021-01-12T16:56:00
Interview Count:  13616